/* Estilo para el historial clínico */
.timeline-item {
    padding: 20px;
    border-left: 4px solid #18bc9c;
    margin-left: 20px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
}

.badge-medico {
    background-color: #2c3e50;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8em;
}

.receta-box {
    border: 1px dashed #bdc3c7;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}