{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Sobre Clínica SaludPlus</h2>
    <p class="highlight">Más de 20 años transformando la atención médica.</p>
    <div class="about-grid">
        <div class="info-item">
            <h3>Misión</h3>
            <p>Brindar servicios de salud con calidez y tecnología de punta.</p>
        </div>
        <div class="info-item">
            <h3>Visión</h3>
            <p>Ser el referente regional en medicina preventiva para el 2030.</p>
        </div>
    </div>
</div>
{% endblock %}