{% extends 'base.html' %}
{% block content %}

{% if session['rol'] == 'admin' %}
<div class="card p-4 mb-4 border-primary">
    <h3 class="text-primary fw-bold">Registrar Nuevo Médico</h3>
    <form method="POST" class="row g-3">
        <div class="col-md-3">
            <label class="form-label">Cédula:</label>
            <input type="text" name="ced_m" class="form-control" required>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombre Completo:</label>
            <input type="text" name="nom_m" class="form-control" required>
        </div>
        <div class="col-md-3">
            <label class="form-label">Especialidad:</label>
            <input type="text" name="esp_m" class="form-control" placeholder="Ej: Pediatría" required>
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </div>
    </form>
</div>
{% endif %}

<div class="card p-4">
    <h3 class="fw-bold">Lista de Médicos</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Cédula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for m in medicos %}
            <tr>
                <td>{{ m.nombre }}</td>
                <td>{{ m.especialidad }}</td>
                <td>{{ m.cedula }}</td>
                <td>
                    {% if session['rol'] == 'admin' %}
                    <a href="/eliminar_medico/{{ m.id_usuario }}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('¿Eliminar a este médico?')">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}