{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4 p-4 mx-auto" style="max-width: 500px;">
        <h3 class="text-center fw-bold text-primary mb-4">Nuevo Turno</h3>
        <form action="/agendar" method="POST">
            <div class="mb-3">
                <label class="form-label fw-bold">Médico Especialista</label>
                <select name="id_medico" class="form-select shadow-sm" required>
                    <option value="" disabled selected>Seleccione...</option>
                    {% for m in medicos %}
                    <option value="{{ m.id_usuario }}">{{ m.nombre }} - {{ m.especialidad }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold">Fecha</label>
                <input type="date" name="fecha" class="form-control" min="{{ hoy }}" required>
            </div>
            <div class="mb-4">
                <label class="form-label fw-bold">Hora</label>
                <input type="time" name="hora" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 fw-bold py-2 shadow">Confirmar Cita</button>
        </form>
    </div>
</div>
{% endblock %}