{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm mt-4">
            <h3 class="text-primary fw-bold mb-4">Agendar Cita Médica</h3>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Seleccione el Médico:</label>
                    <select name="id_medico" class="form-select" required>
                        {% for m in medicos %}
                        <option value="{{ m.id_usuario }}">{{ m.nombre }} ({{ m.especialidad }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Fecha:</label>
                        <input type="date" name="fecha" class="form-control" min="{{ hoy }}" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Hora:</label>
                        <input type="time" name="hora" class="form-control" required>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                   <a href="/agendar" class="btn btn-primary">+ Agendar Turno</a>
                    <button type="submit" class="btn btn-primary fw-bold">Confirmar Cita</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}