{% extends "base.html" %}
{% block content %}
<h2>Panel de Gestión de Pacientes</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Paciente</th>
            <th>Hora Cita</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for p in lista %}
        <tr>
            <td>{{ p.id }}</td>
            <td><strong>{{ p.nombre }}</strong></td>
            <td>{{ p.cita }}</td>
            <td><span class="badge {{ p.estado.lower() }}">{{ p.estado }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}