{% extends 'base.html' %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold text-primary">SALUD+</h1>
    <p class="lead">Bienvenido(a), <strong>{{ session['nombre'] }}</strong></p>
    <hr>

    <div class="row justify-content-center g-4 mt-3">
        {% if session['rol'] == 'admin' %}
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-people-fill display-4 text-primary"></i>
                        <h4 class="mt-3">Control Total</h4>
                        <p class="text-muted small">Gestionar médicos y pacientes.</p>
                        <a href="/admin/usuarios" class="btn btn-primary w-100">Administrar Cuentas</a>
                    </div>
                </div>
            </div>
        {% elif session['rol'] == 'medico' %}
            <div class="col-md-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-heart-pulse-fill display-4 text-danger"></i>
                        <h4 class="mt-3">Atención Médica</h4>
                        <p class="text-muted small">Ver lista de pacientes pendientes.</p>
                        <a href="/admin/usuarios" class="btn btn-danger w-100">Ver Pacientes</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-start border-success border-4">
                    <div class="card-body">
                        <i class="bi bi-calendar-check display-4 text-success"></i>
                        <h4 class="mt-3">Agendar Cita</h4>
                        <p class="text-muted small">Reserva tu turno médico.</p>
                        <a href="/agendar" class="btn btn-success w-100">Pedir Turno</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}