{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Gestión de Inventario Médico</h2>
    
    <form action="/inventario/agregar" method="POST" style="margin-bottom: 20px; display: flex; gap: 10px;">
        <input type="text" name="nombre" placeholder="Producto" required>
        <input type="text" name="categoria" placeholder="Categoría">
        <input type="number" name="cantidad" placeholder="Cant." required>
        <input type="number" step="0.01" name="precio" placeholder="Precio" required>
        <button type="submit" style="background: var(--success); color: white; border:none; padding: 5px 15px; border-radius: 5px;">Añadir</button>
    </form>

    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for id, p in lista.items() %}
            <tr>
                <td>{{ id }}</td>
                <td><strong>{{ p.nombre }}</strong></td>
                <td>{{ p.categoria }}</td>
                <td>{{ p.cantidad }}</td>
                <td>${{ p.precio }}</td>
                <td><a href="/inventario/eliminar/{{ id }}" style="color: red;">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}