{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow border-0 p-4">
            <h2 class="text-center fw-bold">SALUD+</h2>
            <form action="/login" method="POST" class="mt-4">
                <div class="mb-3">
                    <label>Cédula</label>
                    <input type="text" name="cedula" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>
            <div class="text-center mt-3">
                <p class="small">¿Eres paciente nuevo? <a href="{{ url_for('registro_paciente') }}">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}