{% extends 'base.html' %}
{% block content %}
<div class="card shadow border-0 p-4">
    <div class="d-flex justify-content-between mb-4">
        <h3 class="fw-bold text-primary">Personal Médico</h3>
        <a href="{{ url_for('imprimir', tipo='medicos') }}" class="btn btn-danger">Imprimir Lista Médicos</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr><th>Cédula</th><th>Nombre</th><th>Rol</th></tr>
        </thead>
        <tbody>
            {% for m in medicos %}
            <tr>
                <td>{{ m.cedula }}</td>
                <td>{{ m.nombre }}</td>
                <td><span class="badge bg-success">{{ m.rol }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}