{% extends 'base.html' %}
{% block content %}
<div class="card shadow border-0 p-4">
    <div class="d-flex justify-content-between mb-4">
        <h3><i class="bi bi-people text-info"></i> Listado de Pacientes</h3>
        <div>
            <button class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#addP">Añadir Paciente</button>
            <a href="{{ url_for('imprimir_reporte', tipo='pacientes') }}" class="btn btn-danger">Imprimir PDF</a>
        </div>
    </div>
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pacientes %}
            <tr>
                <td>{{ p.cedula_p }}</td>
                <td>{{ p.nombre_p }}</td>
                <td>{{ p.telefono }}</td>
                <td>
                    <a href="{{ url_for('historial', id_p=p.id_paciente) }}" class="btn btn-sm btn-outline-info">Historial</a>
                    {% if session['rol'] == 'admin' %}
                    <a href="{{ url_for('eliminar_paciente', id_p=p.id_paciente) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('¿Eliminar?')">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="addP" tabindex="-1">
    <div class="modal-dialog">
        <form action="{{ url_for('pacientes') }}" method="POST" class="modal-content">
            <div class="modal-body">
                <input type="text" name="ced" class="form-control mb-2" placeholder="Cédula" required>
                <input type="text" name="nom" class="form-control mb-2" placeholder="Nombre" required>
                <input type="text" name="tel" class="form-control" placeholder="Teléfono" required>
            </div>
            <div class="modal-footer"><button type="submit" class="btn btn-info text-white">Guardar</button></div>
        </form>
    </div>
</div>
{% endblock %}