{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-5">
        <div class="card shadow-lg border-0">
            <div class="card-body p-4">
                <h3 class="text-center fw-bold text-success mb-3">Registro de Médico</h3>
                <form action="{{ url_for('registro') }}" method="POST">
                    <div class="mb-3">
                        <label class="form-label small fw-bold">Cédula de Identidad *</label>
                        <input type="text" name="cedula" class="form-control" required placeholder="Ej: 1700000000">
                    </div>
                    <div class="mb-3">
                        <label class="form-label small fw-bold">Nombre Completo *</label>
                        <input type="text" name="nombre" class="form-control" required placeholder="Ej: Dr. Wilson Prado">
                    </div>
                    <div class="mb-3">
                        <label class="form-label small fw-bold">Especialidad *</label>
                        <select name="especialidad" class="form-select" required>
                            <option value="" disabled selected>Seleccione Especialidad</option>
                            <option value="Medicina General">Medicina General</option>
                            <option value="Pediatría">Pediatría</option>
                            <option value="Traumatología">Traumatología</option>
                            <option value="Medicina Familiar">Medicina Familiar</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label small fw-bold">Contraseña de Acceso *</label>
                        <input type="password" name="password" class="form-control" required minlength="4">
                    </div>
                    <button type="submit" class="btn btn-success w-100 btn-lg shadow">Completar Registro</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{{ url_for('login') }}" class="text-muted small text-decoration-none">← Volver al Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}