<form method="POST" action="/registro_paciente">
    <div class="mb-3">
        <label>Cédula:</label>
        <input type="text" name="cedula" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Nombre Completo:</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Contraseña:</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Registrarse</button>
</form>