{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-4">
        <div class="card shadow-lg p-4 border-0">
            <h3 class="text-center fw-bold mb-4">Registro Médico</h3>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label small fw-bold">Cédula</label>
                    <input type="text" name="cedula" class="form-control bg-light" required>
                </div>
                <div class="mb-3">
                    <label class="form-label small fw-bold">Nombre Completo</label>
                    <input type="text" name="nombre" class="form-control bg-light" required>
                </div>
                <div class="mb-4">
                    <label class="form-label small fw-bold">Contraseña</label>
                    <input type="password" name="password" class="form-control bg-light" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2">Crear Cuenta</button>
            </form>
            <div class="text-center mt-3">
                <a href="{{ url_for('login') }}" class="text-decoration-none small">Ya tengo cuenta</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}