{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg border-0 p-4" style="width: 450px; border-radius: 15px;">
        <h2 class="text-center fw-bold text-primary mb-4">Registro de Paciente</h2>
        <form action="/registro_paciente" method="POST">
            <input type="text" name="ced" class="form-control mb-3" placeholder="Cédula (10 dígitos)" required maxlength="10">
            <input type="text" name="nom" class="form-control mb-3" placeholder="Nombre completo" required>
            <input type="password" name="pass" class="form-control mb-3" placeholder="Crea tu contraseña" required>
            <div class="row">
                <div class="col-4"><input type="number" name="edad" class="form-control mb-3" placeholder="Edad" required></div>
                <div class="col-8"><input type="text" name="dir" class="form-control mb-3" placeholder="Dirección" required></div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100 shadow-sm mb-3">Registrarse</button>
            <div class="text-center">
                <a href="{{ url_for('login') }}" class="text-decoration-none small text-secondary">Volver al Inicio</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}