{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card p-4 shadow border-info border-start border-5">
            <h5 class="fw-bold">Nueva Consulta</h5>
            <form method="POST">
                <textarea name="diag" class="form-control mb-2" placeholder="Diagnóstico" required></textarea>
                <textarea name="rece" class="form-control mb-2" placeholder="Medicación"></textarea>
                <button type="submit" class="btn btn-primary w-100">Guardar Consulta</button>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <h5 class="fw-bold">Historial de {{ paciente.nombre_p }}</h5>
        {% for h in entradas %}
        <div class="card mb-2 p-3 border-0 shadow-sm">
            <div class="d-flex justify-content-between align-items-center">
                <span class="badge bg-secondary">{{ h.fecha }}</span>
                <a href="{{ url_for('imprimir', id_h=h.id_h) }}" class="btn btn-sm btn-danger">
                    <i class="bi bi-printer"></i> Imprimir PDF
                </a>
            </div>
            <p class="mt-2 mb-0"><strong>Diagnóstico:</strong> {{ h.diagnostico }}</p>
            <small class="text-muted">{{ h.receta }}</small>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}